__pycache__/
.devcontainer/
.devenv/
.direnv/

.devenv.flake.nix
.env

dagster_university/dagster_university.egg-info/

dagster_university/data/outputs/*
!dagster_university/data/outputs/.gitkeep

dagster_university/data/raw/*
!dagster_university/data/raw/.gitkeep

dagster_university/data/staging/*
!dagster_university/data/staging/.gitkeep

dagster_university/tmp*/

# Language Server Protocol
.lsp/
nyc-311/data/outputs/*
!nyc-311/data/outputs/.gitkeep

nyc-311/data/raw/*
!nyc-311/data/raw/.gitkeep

nyc-311/data/staging/*
!nyc-311/data/staging/.gitkeep

nyc-311/tmp*/

# .pre-commit-config.yaml

# Jupyter notebook checkpoints
.ipynb_checkpoints/
